<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278948364206-0sesdjskoscmbpj705a3gb0hru5vi0fc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278948364206-0sesdjskoscmbpj705a3gb0hru5vi0fc</string>
	<key>API_KEY</key>
	<string>AIzaSyBAR-cKvWoKsCPP-g3fnYu1FFpStsDRwwc</string>
	<key>GCM_SENDER_ID</key>
	<string>278948364206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneAuthenticationDemo</string>
	<key>PROJECT_ID</key>
	<string>phone-authentication-dem-21814</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-authentication-dem-21814.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278948364206:ios:39ed3a931bc1b7a3e6923f</string>
</dict>
</plist>